site_name: GenomeQC
site_url: https://happykhan.github.io/genomeqc/    
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy
    - content.tabs.link
    - navigation.top
  palette:
    - scheme: default
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - attr_list
  - md_in_html
  - tables

nav:
  - Home: index.md
  - Methods: methods.md
  - All Species: species.md
  - Summary: summary.md
